{% extends 'base.html' %}

{% block content %}
<div class="container-xl px-4 mt-4">
    {% include 'account_nav.html' %}
    
    <hr class="mt-0 mb-4">
    <div class="tab-area">
                
        <div id="general-content" class="tab-content row"></div>
        <div id="security-content" class="tab-content row"></div>
        <div id="notifications-content" class="tab-content row"></div>
        <div id="billing-content" class="tab-content"></div>
        
    </div>
    <script>
        $(document).ready(function() {         

            // AJAX to load first tab section on page load
            var firstTabId = $('.account-tab').first().attr('id');
            $(firstTabId).addClass("active");     
            $.ajax({
                url: '/tab',
                data: {tabId: firstTabId},
                type: 'GET',
                success: function(response) {     
                    $('.tab-content').hide();
                    $('#' + firstTabId + '-content').show();
                    $('#' + firstTabId + '-content').html(response);                           
                },
                error: function(error) {
                    console.log(error);
                }
            });   

            // AJAX to load respective tab sections on tab clicks
            $('.account-tab').click(function(e) {
                e.preventDefault()
                $('.account-tab').removeClass('active');
                $(this).addClass('active');                
                var tabId = $(this).attr("id");
                $.ajax({
                    url: '/tab',
                    data: {tabId: tabId},
                    type: 'GET',
                    success: function(response) {
                        $('.tab-content').hide();
                        $('#' + tabId + '-content').show();
                        $('#' + tabId + '-content').html(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });                
            });           
        });        
        
        // AJAX to check if username already exist 
        $(document).on('keyup', '#inputUsername', function(e) {
            // Prevents any entry of space
            if (e.which == 32) { 
                var input_field_value = $(this).val();
                input_field_value = input_field_value.replace(/\s/g, '');
                $(this).val(input_field_value);
            }else {                
                $("#loadingText").hide();
                var entered_value = $(this).val(); 
                var username_lower = entered_value.toLowerCase(); // Converts any uppercase entry to lowercase
                var username_value = username_lower.replace(/[^a-z0-9]/g, ""); // Removes any character other than alphanumeric characters
                $(this).val(username_value);

                // Checks for null or empty value
                if ( username_value == null || username_value == "") {                    
                    $('#spinnerText').removeClass('d-none');
                    $("#loadingSpinner").removeClass("d-none");                    
                    setTimeout(function() {
                        $('#spinnerText').addClass("d-none");                            
                        $("#loadingSpinner").addClass("d-none");                            
                        $("#loadingText").show();
                        $("#loadingText").html("Username is required").css("color", "red");
                    }, 1000);
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/username_check",
                        data: { username : username_value },
                        dataType: "json",
                        cache: false,
                        success: function (resp) {
                            $('#spinnerText').removeClass("d-none");
                            $("#loadingSpinner").removeClass("d-none");
                            if(resp.status == "success"){                                
                                setTimeout(function() {
                                    $('#spinnerText').addClass("d-none");                            
                                    $("#loadingSpinner").addClass("d-none");                            
                                    $("#loadingText").show();
                                    $("#loadingText").html("Username is available").css("color", "green");                            
                                }, 1000);                                
                            }
                            else if(resp.status == "failure"){
                                setTimeout(function() {
                                    $('#spinnerText').addClass("d-none");                            
                                    $("#loadingSpinner").addClass("d-none");                            
                                    $("#loadingText").show();
                                    $("#loadingText").html("Username is not available").css("color", "red");
                                }, 1000);
                                
                            }
                            else{                                
                                $('#spinnerText').addClass("d-none");
                                $("#loadingSpinner").addClass("d-none");
                            }
                        }
                    });
                }
            }   
        });         

        // Add date picker to birthday input field
        $(document).on('focus', '#inputBirthday', function() {
            $(this).datepicker(
            //     {format: "dd/mm/yyyy",
            //     todayHighlight: true,
            //     autoclose: true,
            //     clearBtn: false,
            //     maxDate: new Date(),
            // }
            );
        });

        // Shows confirmation modal and generate OTPs
        $(document).on("click", "#deleteAccount", function () {
            var user_email = {{ session.get('email')|tojson|safe }};
            var path = window.location.pathname;
            $("#confirmationModal").modal("show");
            
            $.ajax({
                type: "POST",
                url: "/send_otp",
                data: { user_email: user_email,
                    path: path
                },
                dataType: "json",
                success: function (response) {
                    
                }
            }); 

        });
        
        // Modal verify and delete handling
        $(document).on("click", "#accountDeleteModalBtn" , function (e) {
            var email_otp_val = "";
            var email_otp_len = 0;
            $(".email-otp").each(function() {               
                email_otp_val += $(this).val();
                email_otp_len += 1;
            });
           
            if (email_otp_len > email_otp_val.length){
                $('.email-otp').css({
                        "border-color": "red", 
                    });
                $("#confirmationModal").addClass("animate__animated animate__shakeX");
                setTimeout(function() {
                    $("#confirmationModal").removeClass("animate__animated animate__shakeX");                   
                }, 2000);
                setTimeout(function() {
                    $('.email-otp').css({
                        "border-color": "", 
                    });
                }, 15000);
            }
            else{
                $.ajax({
                    type: "POST",
                    url: "/otp_verification",
                    data: { email_otp : email_otp_val},
                    dataType: "json",
                    success: function (resp) {
                        
                        
                    }
                });
            }


        });      
            
        $(document).on("keyup", ".email-otp", function () {            
            if ($(this).val().length === 1) {
                $(this).next(".email-otp").focus();
            }
        });


    </script>
</div>
<style type="text/css">
    .img-account-profile {
        height: 10rem;
    }    
    .rounded-circle {
        border-radius: 50% !important;
    }
    body{
        color:#575c62;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #b5bfcc;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

</style>
{% endblock content %}

{% block content_modal %}

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 justify-content-center ">
        <h5 class="modal-title text-center  " id="myModalLabel">Account delete confirmation</h5>
      </div>
      <div class="modal-body border-0">
        <span>We have sent verification code on your verified email and phone</span>
        <form method="post" id="accountDeleteForm" autocomplete="off">
            <div class="form-group mt-4">
                <label for="emailOTPField">Email verification code</label>
                <div id="emailOTP" class="inputs d-flex flex-row justify-content-center mt-2">
                    <input class="m-2 text-center form-control rounded email-otp" type="text" name="emailOTP1" id="emailOTP1" maxlength="1" />
                    <input class="m-2 text-center form-control rounded email-otp" type="text" name="emailOTP2" id="emailOTP2" maxlength="1" />
                    <input class="m-2 text-center form-control rounded email-otp" type="text" name="emailOTP3" id="emailOTP3" maxlength="1" />
                    <input class="m-2 text-center form-control rounded email-otp" type="text" name="emailOTP4" id="emailOTP4" maxlength="1" />
                    <input class="m-2 text-center form-control rounded email-otp" type="text" name="emailOTP5" id="emailOTP5" maxlength="1" />
                    <input class="m-2 text-center form-control rounded email-otp" type="text" name="emailOTP6" id="emailOTP6" maxlength="1" />
                </div>                               
            </div>
            <div class="form-group mt-4">                
                <label for="phoneOTPField">Phone verification code</label>
                <div id="phoneOTP" class="inputs d-flex flex-row justify-content-center mt-2">
                    <input class="m-2 text-center form-control rounded phone-otp" type="text" name="phoneOTP1" id="phoneOTP1" maxlength="1" />
                    <input class="m-2 text-center form-control rounded phone-otp" type="text" name="phoneOTP2" id="phoneOTP2" maxlength="1" />
                    <input class="m-2 text-center form-control rounded phone-otp" type="text" name="phoneOTP3" id="phoneOTP3" maxlength="1" />
                    <input class="m-2 text-center form-control rounded phone-otp" type="text" name="phoneOTP4" id="phoneOTP4" maxlength="1" />
                    <input class="m-2 text-center form-control rounded phone-otp" type="text" name="phoneOTP5" id="phoneOTP5" maxlength="1" />
                    <input class="m-2 text-center form-control rounded phone-otp" type="text" name="phoneOTP6" id="phoneOTP6" maxlength="1" />
                </div>
            </div>            
        </form>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="accountDeleteModalBtn">Verify Codes and Delete Account</button>
      </div>
    </div>
  </div>
</div>


{% endblock content_modal %}