<nav class="nav nav-borders">

    <ul class="nav nav-pills flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link account-tab flex-sm-fill text-sm-center active" href="" id="general" >General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link account-tab flex-sm-fill text-sm-center" href="" id="security" >Security</a>
        </li>
        <li class="nav-item">
            <a class="nav-link account-tab flex-sm-fill text-sm-center" href="" id="notifications" >Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link account-tab flex-sm-fill text-sm-center" href="" id="billing" >Billing</a>
        </li>
    </ul>
</nav>