{% extends 'base.html' %}

{% block content %}
<div class="container-xl px-4 mt-4">
    {% include 'account_nav.html' %}
    
    <hr class="mt-0 mb-4">
    <div class="tab-area">
                
        <div id="general-content" class="tab-content row"></div>
        <div id="security-content" class="tab-content row"></div>
        <div id="notifications-content" class="tab-content row"></div>
        <div id="billing-content" class="tab-content"></div>
        
    </div>
    <script>
        $(document).ready(function() {

            // AJAX to load first tab section on page load
            var firstTabId = $('.account-tab').first().attr('id');
            $(firstTabId).addClass("active");     
            $.ajax({
                url: '/tab',
                data: {tabId: firstTabId},
                type: 'GET',
                success: function(response) {     
                    $('.tab-content').hide();
                    $('#' + firstTabId + '-content').show();
                    $('#' + firstTabId + '-content').html(response);                           
                },
                error: function(error) {
                    console.log(error);
                }
            });   

            // AJAX to load respective tab sections on tab clicks
            $('.account-tab').click(function(e) {
                e.preventDefault()
                $('.account-tab').removeClass('active');
                $(this).addClass('active');                
                var tabId = $(this).attr("id");
                $.ajax({
                    url: '/tab',
                    data: {tabId: tabId},
                    type: 'GET',
                    success: function(response) {
                        $('.tab-content').hide();
                        $('#' + tabId + '-content').show();
                        $('#' + tabId + '-content').html(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });                
            });
           
        });
        
        

        // AJAX to check if username already exist 
        $(document).on('keyup', '#inputUsername', function(e) {
            // Prevents any entry of space
            // var regex = new RegExp("^[a-zA-Z0-9]+$");
            // var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            // var key = e.keyCode
            if (e.which == 32) { 
                var input_field_value = $(this).val();
                input_field_value = input_field_value.replace(/\s/g, '');
                $(this).val(input_field_value);
            }else {                
                $("#loadingText").hide();
                var entered_value = $(this).val();
                var username_lower = entered_value.toLowerCase();
                var username_value = username_lower.replace(/[^a-z0-9]/g, "");
                $(this).val(username_value);

                if ( username_value == null || username_value == "") {
                    
                    $("#loadingSpinner").removeClass("d-none");
                    setTimeout(function() {
                        $("#loadingSpinner").addClass("d-none");                            
                        $("#loadingText").show();
                        $("#loadingText").html("Username is required").css("color", "red");
                    }, 1000);
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/username_check",
                        data: { username : username_value },
                        dataType: "json",
                        cache: false,
                        success: function (resp) {
                            if(resp.status == "success"){
                                $("#loadingSpinner").removeClass("d-none");
                                setTimeout(function() {
                                    $("#loadingSpinner").addClass("d-none");                            
                                    $("#loadingText").show();
                                    $("#loadingText").html("Username is available").css("color", "green");                            
                                }, 1000);                                
                            }
                            else if(resp.status == "failure"){
                                $("#loadingSpinner").removeClass("d-none");
                                setTimeout(function() {
                                    $("#loadingSpinner").addClass("d-none");                            
                                    $("#loadingText").show();
                                    $("#loadingText").html("Username is not available").css("color", "red");
                                }, 1000);
                                
                            }
                            else{                                
                                $("#loadingSpinner").addClass("d-none");
                            }
                        }
                    });
                }

            }
            
            

        });         

        $(document).on('focus', '#inputBirthday', function() {
            $(this).datepicker(
            //     {format: "dd/mm/yyyy",
            //     todayHighlight: true,
            //     autoclose: true,
            //     clearBtn: false,
            //     maxDate: new Date(),
            // }
            );
        });

    </script>
</div>
<style type="text/css">
    .img-account-profile {
        height: 10rem;
    }    
    .rounded-circle {
        border-radius: 50% !important;
    }
    body{
        color:#575c62;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b5bfcc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

</style>
{% endblock content %}