{% extends 'base.html' %}

{% block content %}
<div class="container w-50 pt-lg-5">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag()}}
        <fieldset>
            <div class="col-12 mb-4">
                <h1 class="col-6 float-none">Login</h1>
            </div>
            <div class="form-group mb-3">
                {{ form.email.label(class="form-control-label")}}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid", type="email") }}
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.email(class="form-control form-control-lg", type="email", placeholer="email") }}
                {% endif %}
            </div>
            <div class="form-group mb-3">
                {{ form.password.label(class="form-control-label")}}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid", type="password")}}
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.password(class="form-control form-control-lg", type="password")}}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group mb-3 row">
            <div class="my-1 col-lg-6 col-xl-6 col-sm-12 col-xs-12 my-2 ">
                {{ form.rememberMe() }}
                {{ form.rememberMe.label(class="col-xs-10") }}
            </div>
            <div class="col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                <!-- {{ form.submit(class='btn btn-primary btn-lg float-sm-end col-lg-12 col-sm-12 form-control', type="submit")}} -->
                {{ form.submit(class='btn btn-primary btn-lg float-lg-end col-md-4 col-lg-12 col-sm-12 form-control', type="submit")}}
            </div>     
        </div>     
        <div class="form-group mb-3 row ">
            <div class="col-md-6 d-flex justify-content-center">
                <a href="{{ url_for('verify_email')}}">Forgot password?</a>
            </div>
            <div class="col-md-6 text-center">
                <p>Not a member? <a href="{{ url_for('register')}}">Register</a></p>
            </div>
        
        </div>
    </form>
</div>
{% endblock content %}