{% extends 'base.html' %}

{% block content %}
<div class="container w-50 pt-lg-5">
    <form class="my-3" method="POST" action="" enctype="multipart/form-data">
        <!-- {{ form.csrf_token }} -->
        {{ form.hidden_tag()}}
        <fieldset>
            <div class="form-group mb-3">
                {{ form.password.label(class="form-control-label")}}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid", type="password")}}
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.password(class="form-control form-control-lg", type="password")}}
                {% endif %}
            </div>
            <div class="form-group mb-3">
                {{ form.confirm_password.label(class="form-control-label", type="password")}}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.confirm_password(class="form-control form-control-lg", type="password")}}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group mb-3">
            {{ form.submit(class='btn btn-success btn-lg float-lg-end col-lg-6 col-sm-12 col-xs-auto', type="submit")}}
        </div>
    </form>
</div>
  
{% endblock content %}